GRAFANA_DOMAIN=observability.gajabike.shop
GRAFANA_ROOT_URL=https://observability.gajabike.shop
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me
APP_PRIVATE_HOST=10.0.10.12
POSTGRES_EXPORTER_DSN=postgresql://bike:change-me@10.0.20.10:5432/bike?sslmode=disable
REDIS_EXPORTER_ADDR=redis://10.0.10.12:6379
REDIS_EXPORTER_SKIP_TLS_VERIFICATION=false
